@import "base";
@import "mobile";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: $off-white;
  color: $prussian-blue;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#nav {
  text-align: center;
  background-color: $prussian-blue;
  color: $off-white;

  ul li {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  ul li:hover {
    background-color: $off-white;
    color: $prussian-blue;
  }

  ul li a {
    display: block;

    padding: 20px;
  }
}

header {
  margin: 0;
  padding: 50px;
  background-color: $blue-green;
}

#website-title {
  margin: 0 auto;
  line-height: 90%;
  text-align: center;

  h1 {
    margin: 0;
    font-family: "Dancing Script", cursive;
    font-size: 3em;
  }

  h3 {
    margin: 5px;
  }
}

#website-description {
  p {
    margin: 0 auto;
    padding: 5px 0;
    width: 80%;
    border-top: 20px solid $honey-yellow;
  }
}

#streaming-movies {
  margin: 10px auto;
  width: 80%;
  background-color: $honey-yellow;
}

.carousel {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;

  .carousel-item {
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 40%;

    img {
      margin: 0 auto;
      max-width: 100%;
      transition: 0.3s ease-in-out;
    }

    a img:hover {
      transform: scale(1.02);
    }

    h2 {
      text-align: center;
    }

    a h2:hover {
      color: $off-white;
    }

    select {
      margin-bottom: 5px;
      padding: 5px;
      width: 100%;
      outline: none;
      border: none;
      background-color: $off-white;
      color: $prussian-blue;
      font-family: inherit;
      font-size: inherit;
    }

    select:focus {
      border-left: 5px solid $blue-green;
    }
  }
}

.carousel-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  button {
    margin: 0 20px 20px 20px;
    padding: 5px;
    width: 25%;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: $prussian-blue;
    color: $off-white;
    font-size: 1.2em;
  }
  button:hover {
    background-color: $off-white;
    color: $prussian-blue;
  }
}

#footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;

  background-color: $blue-green;
  color: $prussian-blue;
}
