@import "base";
@import "mobile";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: $off-white;
  color: $prussian-blue;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#nav {
  text-align: center;
  background-color: $prussian-blue;
  color: $off-white;

  ul li {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  ul li:hover {
    background-color: $off-white;
    color: $prussian-blue;
  }

  ul li a {
    display: block;

    padding: 20px;
  }
}

header {
  margin: 0;
  padding: 50px;
  background-color: $blue-green;

  display: flex;
  flex-flow: row wrap;
}

#website-title {
  margin: 0 auto;
  line-height: 40%;

  h1 {
    font-family: "Dancing Script", cursive;
    font-size: 3em;
  }
}

#website-description {
  p {
    margin: 0 auto;
    width: 80%;
  }
}

#header-box-container {
  position: relative;
}

#header-box {
  margin: 0 auto;
  height: 20px;
  width: 80%;
  background-color: $honey-yellow;
}

#streaming-movies {
  margin: 0 auto;
  width: 80%;
  background-color: $honey-yellow;
}

#footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;

  background-color: $blue-green;
  color: $prussian-blue;
}
